<footer class="bg-gray-900 text-white p-4">
  <div class="footer-content flex justify-between items-center">
    <!-- Logo y Nombre de la Empresa -->
    <div class="logo-title flex items-center">
      <img src="/logoAnimeMarket.png" alt="Logo" class="h-10 w-10 mr-2">
      <h2 class="text-xl font-bold text-red-700">AnimeMarket</h2>
    </div>

    <!-- Enlaces de Navegación -->
    <div class="footer-links flex space-x-6">

      <a (click)="navigateTo('pagina-pricipal')" class="hover:text-red-700 cursor-pointer">Inicio</a>

      <a (click)="navigateTo('about-anime-market')" class="hover:text-red-700 cursor-pointer">Sobre Nosotros</a>

      <a (click)="navigateTo('politica-privacidad')" class="hover:text-red-700 cursor-pointer">Politica y Privacidad</a>

      <a (click)="navigateTo('terminos-condiciones')" class="hover:text-red-700 cursor-pointer">Terminos y Condiciones</a>

      <a (click)="navigateTo('contacto')" class="hover:text-red-700 cursor-pointer">Contacto</a>

    </div>

    <!-- Redes Sociales -->
    <div class="social-media flex space-x-4">
      <a href="#" class="flex items-center hover:text-red-700">
        <img src="/Icon-Facebook.png" alt="Facebook" class="h-6 w-6 mr-1"> Facebook
      </a>
      <a href="#" class="flex items-center hover:text-red-700">
        <img src="/Icon-Twitter.jpg" alt="Twitter" class="h-6 w-6 mr-1"> Twitter
      </a>
      <a href="#" class="flex items-center hover:text-red-700">
        <img src="/Icon-Instagram.png" alt="Instagram" class="h-6 w-6 mr-1"> Instagram
      </a>
    </div>
  </div>

  <!-- Derechos de Autor -->
  <div class="text-center mt-4 text-sm text-gray-400">
    © 2025 AnimeMarket. Todos los derechos reservados.
  </div>
</footer>
