<section class="bg-gray-900 text-white py-10 px-6">
  <div class="container mx-auto text-center">
    <h1 class="text-3xl font-bold text-red-700 mb-4">Contacto</h1>
    <div class="divider"></div>

    <div class="text-lg leading-relaxed max-w-2xl mx-auto text-gray-300">
      <p>Si necesitas ponerte en contacto con nosotros, puedes enviarnos un mensaje usando el sistema de comunicación de la Patrulla Roja, una Pokéball con tu consulta dentro o simplemente a través del formulario.</p>
    </div>

    <div class="mt-6">
      <h2 class="text-xl font-semibold text-red-500">Ubicación:</h2>
      <p class="text-gray-300">Nuestra sede está en la majestuosa <strong>Torre Sevilla</strong>, protegida por un escuadrón de Super Saiyans y la Liga Pokémon.</p>
    </div>

    <div class="mt-6">
      <iframe
        class="w-full h-96 rounded-lg shadow-lg"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.338816620942!2d-6.003888085219533!3d37.38282977983312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126d36f3e8c5c9%3A0xcfd6bdcb3aa8c8fa!2sTorre%20Sevilla!5e0!3m2!1sen!2ses!4v1649086354715!5m2!1sen!2ses"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
</section>
