<div class="p-10 w-full">
  <table class="w-full border-collapse border border-gray-300 bg-white rounded-lg shadow-lg">
    <thead>
    <tr class="bg-gray-200">
      <th>Cantidad</th>
      <th>Producto</th>
      <th>Precio por unidad</th>
      <th>Total</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let carrito of carritos; let i = index">
      <td>
        <input type="number" [(ngModel)]="carritos[i].cantidad" (ngModelChange)="calcularTotal()" min="1" class="w-12 text-center">
      </td>
      <td>{{ carrito.nombre }}</td>
      <td>{{ carrito.precio }} €</td>
      <td>{{ (carrito.precio * carrito.cantidad).toFixed(2) }} €</td>
      <td>
        <button (click)="eliminarProducto(carrito.id)" class="bg-red-500 text-white py-1 px-2 rounded">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="mt-4 text-right">
    <strong>Total: {{ total.toFixed(2) }} €</strong>
  </div>

  <div class="mt-4 text-center">
    <button (click)="abrirModalPago()" class="bg-yellow-500 text-black py-2 px-4 rounded">Comprar</button>
  </div>

  <!-- Incrustar el componente ModalPagoComponent -->
  <app-modal-pago
    [carritos]="carritos"
    [mostrarModalPago]="mostrarModalPago"
  (cerrarModal)="cerrarModalPago()"
  (compraExitosa)="manejarCompraExitosa()">
  </app-modal-pago>

<!--  <button (click)="abrirModalPago()" class="bg-yellow-500 text-black py-2 px-4 rounded">Comprar</button>-->

</div>
