@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');


header {
  background-color: #1f2937;
  color: white;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.custom-title {
  font-family: 'Lavishly Yours', cursive;
  color: #b91c1c;
  margin: 0;
  padding: 0;
  text-align: center;
}


header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-title {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-start;
}

header img {
  height: 3rem;
  width: 3rem;
}

header h1 {
  color: #b91c1c;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

.search-bar {
  flex: 2;
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: none;
  outline: none;
}

input[type="text"]:focus {
  border: 2px solid #b91c1c;
}

.user-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.user-cart, .user-login {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.user-cart img, .user-login img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.25rem;
}

.user-cart span, .user-login span {
  cursor: pointer;
}

select {
  width: 100%;
  max-width: 250px;
  padding: 0.5rem;
  background-color: #374151;
  color: white;
  border: none;
  border-radius: 0.375rem;
  outline: none;
}

select:focus {
  border: 2px solid #b91c1c;
}

.category-selector {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.user-login span {
  cursor: pointer;
  color: #3b82f6;
  text-decoration: underline;
}

.user-login span:hover {
  color: #2563eb;
}
