<!--<app-header></app-header>-->

<app-header2></app-header2>

<router-outlet></router-outlet>
<!--<app-pagina-principal></app-pagina-principal>-->
<!--<app-about-anime-market></app-about-anime-market>-->
<!--<app-registro-sesion></app-registro-sesion>-->
<!--<app-iniciar-sesion></app-iniciar-sesion>-->
<!--<app-terminos-condiciones></app-terminos-condiciones>-->
<!--<app-politica-privacidad></app-politica-privacidad>-->
<!--<app-contacto></app-contacto>-->
<!--<app-tematica-bobobo></app-tematica-bobobo>-->
<!--<app-tematica-dragon-ball></app-tematica-dragon-ball>-->
<!--<app-tematica-doraemon></app-tematica-doraemon>-->
<!--<app-tematica-kimetsu></app-tematica-kimetsu>-->
<!--<app-tematica-pokemon></app-tematica-pokemon>-->
<!--<app-productos></app-productos>-->


<app-footer></app-footer>
