<head>
  <title>Carousel/Slideshow</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    .card {
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s;
      background-color: white;
    }

    .card:hover {
      transform: scale(1.05);
    }
  </style>

</head>
<body class="bg-[url('/fondoKimetsu.png')] bg-no-repeat bg-fixed w-full">

<div style="padding-bottom:100px;">
  <div class="grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] gap-10 p-10 w-full">
    <div *ngFor="let producto of productos" class=" h-full grid hover:scale-105 transition-all w-full bg-white rounded-lg shadow-lg">
      <img src="{{producto.imagen}}" class="card-img-top" alt="...">
      <div class=" p-4 flex flex-col justify-between h-full">
        <h5 class=" text-lg font-bold">{{ producto.nombre }}</h5>
        <p class=" text-gray-700">{{ producto.descripcion }}</p>
        <p class=" text-gray-900 font-semibold">{{ producto.precio }} €</p>
        <button (click)="anyadirAlCarrito(producto)" class="btn btn-info bg-blue-500 text-white py-2 px-4 rounded">Añadir al carrito</button>
      </div>
    </div>
  </div>
</div>
</body>

